body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background {
background-image: url(/img/eyestetix-studio-hdVQBey2LaI-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.Black-body {
    display: flex;
    flex-direction: column;
}

.Black-body h1 {
    color: rgb(239, 210, 45);
}